<form action="" ，method='post' id='fm_add'>
	<table>
		<tr>
			<td>标题</td>
			<td><input type="text" name='title' /></td>
		</tr>
		<tr>
			<td>日期</td>
			<td><input type="text" id='tb_date' name='date' /></td>
		</tr>
		<tr>
			<td>是否公开</td>
			<td>是<input type="radio" name='is_public' value='0'
				checked='checked' />否<input type="radio" name="is_public" value='1' /></td>
		</tr>
		<tr>
			<td>重要</td>
			<td>是<input type="radio" name='level' value='0'
				checked='checked' />否<input type="radio" name='level' value='1' /></td>
		</tr>
		<tr>
			<td>记事内容</td>
			<td><textarea rows='10' cols='30' name='content' /></td>
		</tr>
		<tr>
			<td align='center' colspan='2'><input type="button" value='保存'
				id='btn_save' /></td>
		</tr>
	</table>
</form>



<script>
	$(function() {
		showAddBox();
		
		$("#btn_save").bind('click',function(){
			add();
		});
		//提交保存
		function add() {
			
			var date=new Date();
			var year=date.getFullYear();
			var month=date.getMonth()+1;
			
			var data = $("#fm_add").serialize();
			$.post('/Jrrc_web/Home/Schedule/add', data, function(msg) {
				if ("0" != msg) {
					if (confirm('添加成功，是否继续？')) {

					} else {	
						$("#fm_add:reset");
						$("#div_input_schedule").dialog('close');
						
								$.post('/Jrrc_web/Home/Schedule/createtable/uid/'+{$uid}+'/year/'+year+'/month/'+month,
								function(msg) {
								$("#div_schedule").html(msg);
								}); 
					}
				}
			});
		};
		
		
		//显示\格式化记事输入框
		function showAddBox() {
			
			$("#tb_date").datepicker();
			$("#tb_date").val('');
			$("#div_input_schedule").dialog({
				"width" : '500px',
				"title" : '添加记事'
			});

		}
		;
	});
</script>