<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>欢迎使用国际业务办公信息网</title>
<link rel="stylesheet" href="/Jrrc_web/Public/my.css" />
<link rel="stylesheet" href="/Jrrc_web/Public/jquery/jquery_ui/jquery-ui.css" />
<script src='/Jrrc_web/Public/jquery/jquery_ui/jquery_ui.min.js'></script>
<script src='/Jrrc_web/Public/jquery/jquery.js'></script>
<script src='/Jrrc_web/Public/function.js'></script>
</head>
<body>
	<div id='formdiv' class='text_center border'>

		<form action="" method='post'>
			<span> <img class='logosiza_big'src="/Jrrc_web/Public/res/Logo_orange.png" alt="" /></span> 
				<br /> <br />
			<span>员工：<select  name='name' id='name' class="textbox_length_middle text_center" ></select></span> 
				<br/> <br/>
			 <span>密码：<input type="password" name='password' id='tb_password' class="textbox_length_middle text_center" /></span> 
				<br /> <br /> 
			<span><input class='buttonsize_middel  fontsize_midel' type="button" value="访客登录" id='guestlogin' /> 
				&nbsp;&nbsp; 
				<input class='buttonsize_middel  fontsize_midel' type="button" value='员工登录' id="btn_submit" />
				</span>
		</form>
	</div>
</body>
</html>

<script>
	$(function() {
		$("#guestlogin").button({
			icons : {
				primary : "ui-icon-gear",
				secondary : "ui-icon-triangle-1-s"
			}
		});
		$("#btn_reset").button("option", "icons", {
			primary : "ui-icon-gear",
			secondary : "ui-icon-triangle-1-s"
		});
		$("#btn_submit").button();
		//$("#s_name").spinner();
	});

	/*
	取得所有用户
	 */
	$(function() {
		$.post('/Jrrc_web/Home/User/getAllUser/',function(message){
			var json=eval(message);
			var Item=null;
			for(n=0;n<json.length;n++){
				Item+="<option>"+json[n]+"</option>";
			}
			$("#name").html(Item);
		});

	});
	
	/*
	以游客身份登录
	*/
	$(function(){
		$("#guestlogin").bind('click',function(){
			window.location.href="/Jrrc_web/Home/User/guestLogin/";
		});
	});

	$(function() {
		$("#btn_submit").bind('click', function() {
			var postdata = $("form").serialize();
			$.post("/Jrrc_web/Home/User/Login/", postdata, function(message) {
				if (message.info == 'false') {
					alert("登录失败，请检查【户名】和【密码】！");
				}
				if (message.info == 'true') {
					//登录成功，页面跳转到主页
					window.location.href = "/Jrrc_web/Home/main/";
				}
			});
		});
	});
</script>